{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div id="login" class="container d-flex align-items-center justify-content-center">
        <form method="post">
            <div class="card text-center">
                <div class="card-body">
                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
    {#        <button class="btn btn-lg btn-primary" type="submit">Sign in</button>#}
        </form>
    </div>
{% endblock %}
