/* GLOBAL */

body {
  background-color: #faefe3 !important;
}

.principal_title,
.sub_title {
  text-align: center;
}

form {
  border-radius: 15px;
}

form .card {
  box-shadow: 0px 5px 20px #bfbfbf;
}

form .card-body a {
  color: rgb(150, 89, 51);
}

form label {
  font-weight: 600;
}

form input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  background: #f7f7f787;
  border: 1px solid grey;
  border-radius: 4px;
  margin-bottom: 1rem;
  height: 35px;
}

form button {
  border-radius: 24px;
  border-color: transparent;
  background-color: #d1aa82;
  padding: 8px 20px;
  transition: 0.3s ease;
}

form button:hover {
  background-color: #b69574;
  color: white;
}

.btn_one {
  border-radius: 24px;
  border-color: transparent;
  background-color: #d1aa82;
  padding: 8px 20px;
  transition: 0.3s ease;
  color: black;
  text-decoration: none;
  display: block;
  width: fit-content;
}

.btn_one:hover {
  background-color: #b69574;
  color: white;
}

.card-body h1 {
  margin-bottom: 1.5rem;
}

.accordion {
  max-width: 900px;
  margin: auto;
}

.accordion .accordion-item .btn_one {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.accordion .accordion-button {
  background-color: bisque !important;
  border-color: #b69574;
  font-weight: 600;
  color: black !important;
}

.accordion .accordion-item {
  border-color: #b69574;
}

/* REGISTRATION */

#registration.container {
  height: 100vh;
}

#registration form {
  max-width: 450px;
}

#registration #lyceen_user div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  float: left;
}

#registration #lyceen_user label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: auto;
  padding-left: 12px;
}

#registration #lyceen button {
  margin-top: 3rem;
  margin-left: -13rem;
}

#registration #lyceen select {
  margin-top: 27px;
  margin-left: 15px;
}

/* LOGIN */

#login_page.container {
  height: 100vh;
}

#login_page .card-body {
  padding: 1rem 2rem;
}

#login_page #login div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#login_page #login label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: auto;
}

/* SURVEY */

#survey {
  height: 100vh;
}

#survey input[type="radio"] {
  margin-right: 4px;
}
#survey input[type="radio"] {
  margin-right: 4px;
}

#survey input[type="radio"]:last-of-type {
  margin-left: 6px;
}

#survey #questionnaire_reponse8_reponse {
  margin-bottom: 1rem;
}

#survey form {
  text-align: left;
}

#survey .card-body {
  padding: 1rem 2rem;
}

#survey #questionnaire div {
  display: flex;
  flex-direction: column;
}

#survey #questionnaire #questionnaire_reponse8_reponse {
  display: flex;
  flex-direction: row;
}

/* LYCEE */

#lycee {
  text-align: center;
  margin-top: 2rem;
}

#lycee h5 {
  font-weight: 700;
}

#lycee .liste {
  margin-top: 20px;
}

#lycee .card {
  margin: auto;
}

/* ONE_ATELIER */

#oneAtelier .btn_one {
  margin-top: 1rem;
  margin-left: 0;
}

/* PROFILE */

#profile_page .list-group-item {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
}

#profile_page .list-group-item .part {
  display: flex;
  flex-direction: column;
}

/* ATELIER_MONITORING */

#atelier_monitoring {
  text-align: center;
  margin-top: 2rem;
}

#atelier_monitoring .liste {
  margin-top: 25px;
}

#atelier_monitoring h5 {
  font-weight: 700;
}

#atelier_monitoring .card {
  margin: auto;
}
